@import '../../../../../../scss/variables';
@import '../../../../../../scss/mixins';

.my-licenses__container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
  width: 100%;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1700px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }

  @media (min-width: 2200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &--license {
    // * {
    //   border: 1px solid black;
    // }
    display: flex;
    flex-direction: column;
    width: 100% !important;
    max-width: 340px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px $bg-secondary;
    background-color: #fff;

    @media (min-width: 420px) {
      max-width: 600px;
    }

    &__column-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 100%;

      &--sub {
        display: flex;
        align-items: center;
        gap: .6rem;

        i {
          font-size: 1.4rem;
          margin-top: 5px;
        }

        &__license-name {
          @include titleH3();
          padding-bottom: 3px;
        }

        &__last-update {
          display: flex;
          align-items: center;
          margin-right: 10px;
          @include p2();
          font-size: .8rem;
          white-space: nowrap;

          &--icon {
            margin-right: 5px;
            margin-left: 10px;
          }

          @media (max-width: 420px) {
            display: none;
          }

          @media (min-width: 520px) {
            font-size: .9rem;
          }
        }

        &__text {
          display: flex;
          align-items: center;
          gap: .5rem;
          @include p2();
        }
      }

      &--sub-2 {
        display: flex;
        align-items: center;
        gap: 1rem;

        &__rotate-icon {
          font-size: 1.3rem;
          color: $bg-dark;
          padding-top: 2px;
          transition: all .3s ease-in-out;
          cursor: pointer;

          &--open {
            @include rotate(0deg, 90deg, .7s);
            rotate: 180deg;
            font-size: 1.3rem;
            padding-top: 2px;
          }
        }
      }
    }

    &__column-2 {

      &--size,
      &--requests {
        display: flex;
        flex-direction: row;
        align-items: center !important;
        margin-top: 20px;

        &__title {
          @include titleH5();
          margin-right: 15px;
          padding-top: 5px;
          white-space: nowrap;
        }

        &__progress {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;
          width: 100%;

          &--span {
            display: flex;
            align-items: center;
            white-space: nowrap;
            padding: 0;
            margin: 0;
            padding-top: 5px;
          }
        }
      }

      &--requests {
        margin-top: 10px;
      }
    }

    &__collapsible {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-in-out;

      &--open {
        max-height: 1000px;
        transition: max-height 0.7s ease-in-out;
        overflow: hidden;

        &__content-1 {
          display: flex;
          justify-content: space-between;
          padding: 13px;

          @media (max-width: 520px) {
            flex-direction: column;
          }

          &--item {
            display: flex;
            align-items: center;

            span {
              @include p2();
              padding-right: 5px;
            }

            p {
              @include p3();
              padding: 10px 0;
            }
          }
        }

        &__content-2 {
          padding: 13px;
          padding-top: 0;

          p {
            @include p();
          }
        }

        &__buttons {
          display: flex;
          justify-content: space-between;
          margin-top: 15px;
          margin-bottom: 7px;

          &--sub {
            display: flex;
            gap: 1rem;
          }
        }
      }
    }
  }
}