@import 'scss/mixins';

.license {
  max-width: $window-max-width;
  margin: 0 auto;

  &__section {
    h2 {
      @include titleH2();
      margin: 0px 5px;
    }

    &--header {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      &__license-name {
        @include titleH2();
        padding-bottom: 3px;
      }

      &__last-update {
        display: flex;
        align-items: center;
        margin-right: 10px;
        @include p2();
        font-size: 0.8rem;
        white-space: nowrap;

        &--icon {
          margin-right: 5px;
          margin-left: 10px;
        }
      }
    }
  }
}
