@import '../../../../../scss/variables';
@import '../../../../../scss/animations';

.menu-top {
  display: flex;
  align-items: center;
  align-content: center;
  max-width: 800px;
  position: absolute;
  left: 80px;
  margin-top: 10px;
  @include fadeIn();

  a {
    color: $color-light;
    margin: 0 20px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: $font-size-md;

    &:hover {
      border-bottom: 2px solid $color-light;
    }

    &.active {
      border-bottom: 2px solid $color-light;
    }

    img {
      max-width: 20px;
    }
  }
}