@import '../../../../../scss/variables';
@import '../../../../../scss/animations';

.header-main {
  display: flex;
  justify-content: space-between;
  color: $color-primary;
  background-color: $bg-dark;
  align-items: center;
  font-size: 1.5rem;
  min-height: 80px;
  padding: 0 15px;
  font-weight: bold;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  @include fadeIn();

  &__logo {
    margin-left: 10px;
    color: $bg-secondary;
    width: 80px;
    max-height: 70px;
    object-fit: contain;
    padding: 5px;
  }
}
