@import '../scss/animations';

@mixin titleH1() {
  color: $color-primary;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 1.8rem;
  font-family: "Lato Bold";
  @include fadeIn()
}

@mixin titleH2() {
  color: $color-primary;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: "Lato Bold";
  @include fadeIn()
}

@mixin p($color: $color-primary) {
  color: $color;
  margin: 0;
  padding: 0;
  font-size: .94rem;
  @include fadeIn()
}

@mixin p0($color: $color-primary) {
  font-family: "Lato Thin";
  @include fadeIn();
  @include p($color);
}

@mixin p1($color: $color-primary) {
  font-family: "Lato Light";
  @include fadeIn();
  @include p($color);
}

@mixin p2($color: $color-primary) {
  font-family: "Lato Regular";
  @include fadeIn();
  @include p($color);
}

@mixin p3($color: $color-primary) {
  font-family: "Lato Bold";
  @include fadeIn();
  @include p($color);
}

@mixin p4($color: $color-primary) {
  font-family: "Lato BLack";
  @include fadeIn();
  @include p($color);
}

@mixin buttonPrimary() {
  background-color: $bg-dark-primary;
  color: #fff;
  border: 1px solid $color-primary;
  border-radius: 10px;
  box-shadow: inset -1px 3px 8px 5px #00000017, 2px 5px 16px 0px #00000017, 5px 5px 15px 5px #00000017;
  @include fadeIn();

  &:hover {
    box-shadow: inset -1px 3px 8px 5px #00000023, 2px 5px 16px 0px #00000023, 5px 5px 15px 5px #00000023;
  }
}