// Color
$bg-dark: #283044;
$bg-medium: #3a82ce;
$bg-medium-light: rgb(199, 215, 224);
$bg-light: #f7fafc;
$bg-secondary: #bfa89e;
$bg-secondary-dark: #8b786d;
$color-primary: #1d1d1d;
$color-light: #d1d1d1;
$color-medium: #5c5c5c;
$green: rgb(11, 95, 11);
$red: rgb(157, 28, 28);
$orange: rgb(185, 132, 34);
// Font
$font-size-xs: 15px;
$font-size-sm: 16px;
$font-size-md: 17px;
$font-size-lg: 18px;
$font-size-xl: 20px;
// Responsesive down size
$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-sm: 573.98px;
$media-breakpoint-down-md: 767.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 1199.98px;
$media-breakpoint-down-xxl: 1699.98px;
// Responsive up size
$media-breakpoint-up-xs: 320px;
$media-breakpoint-up-sm: 576px;
$media-breakpoint-up-md: 768px;
$media-breakpoint-up-lg: 992px;
$media-breakpoint-up-xl: 1200px;
$media-breakpoint-up-xxl: 1600px;
$mobile-width: 768px;
$window-max-width: 1800px;
